@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 64px;
  margin: 0 80px;

  padding-bottom: 64px;
  border-bottom: 1px solid rgba($medium-gray, 0.3);

  @media #{map-get($device, laptop)} {
    margin: 0 60px;
  }

  @media #{map-get($device, tablet)} {
    margin: 0 40px;
  }

  @media #{map-get($device, mobile-l)} {
    margin: 0 20px;
  }
}

.content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media #{map-get($device, laptop)} {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 32px;

  flex: 1;

  gap: 32px;

  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    background-color: $light-yellow;
    transform: scale(1.05);
  }
}

.imageWrapper {
  width: 100%;
  height: 320px;
  position: relative;

  @media #{map-get($device, laptop)} {
    display: none;
  }
}

.image {
  object-fit: cover;
}

.metaInfo {
  text-align: left;
  color: $dark-gray;
}

.author {
  color: $purple;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 16px;
}

.description {
  opacity: 0.7;
}
