@import "@/styles/variables";

.button {
  background-color: $yellow;
  color: $black;
  padding: 16px 48px;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $dark-yellow;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
