@import "@/styles/variables";

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;

  @media #{map-get($device, tablet)} {
    padding: 30px 0;
  }

  @media #{map-get($device, mobile-l)} {
    padding: 20px 0;
  }
}

.title {
  padding: 16px;
  width: 400px;
  text-align: center;

  @media #{map-get($device, tablet)} {
    width: 300px;
  }

  @media #{map-get($device, mobile-l)} {
    width: 250px;
  }

  @media #{map-get($device, mobile-s)} {
    width: 200px;
  }
}

.text {
  width: 360px;
  text-align: center;

  @media #{map-get($device, tablet)} {
    width: 280px;
  }

  @media #{map-get($device, mobile-l)} {
    width: 230px;
  }

  @media #{map-get($device, mobile-s)} {
    width: 180px;
  }
}

.button {
  margin: 32px;

  @media #{map-get($device, tablet)} {
    margin: 24px;
  }

  @media #{map-get($device, mobile-l)} {
    margin: 20px;
  }

  @media #{map-get($device, mobile-s)} {
    margin: 16px;
  }
}
