@import "@/styles/variables";

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $s-40 0;

  @media #{map-get($device, tablet)} {
    padding: $s-30 0;
  }

  @media #{map-get($device, mobile-l)} {
    padding: $s-20 0;
  }
}

.title {
  padding: $s-16;
  width: 400px;
  text-align: center;

  @media #{map-get($device, tablet)} {
    width: 300px;
  }

  @media #{map-get($device, mobile-l)} {
    width: 250px;
  }

  @media #{map-get($device, mobile-s)} {
    width: 200px;
  }
}

.text {
  width: 360px;
  text-align: center;

  @media #{map-get($device, tablet)} {
    width: 280px;
  }

  @media #{map-get($device, mobile-l)} {
    width: 230px;
  }

  @media #{map-get($device, mobile-s)} {
    width: 180px;
  }
}

.button {
  margin: $s-32;

  @media #{map-get($device, tablet)} {
    margin: $s-24;
  }

  @media #{map-get($device, mobile-l)} {
    margin: $s-20;
  }

  @media #{map-get($device, mobile-s)} {
    margin: $s-16;
  }
}
