@import "@/styles/variables";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 $s-80;
  padding: $s-20 0;

  gap: $s-16;

  @media #{map-get($device, mobile-l)} {
    flex-direction: column;
    margin: 0 $s-16;
  }

  @media #{map-get($device, tablet)} {
    justify-content: center;
    margin: 0 $s-40;
  }

  @media #{map-get($device, laptop)} {
    margin: 0 $s-60;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: $medium-gray;

  @media #{map-get($device, mobile-l)} {
    align-items: center;
    text-align: center;
    margin-bottom: $s-16;
  }
}

.textTop {
  opacity: 0.6;
  margin-bottom: $s-8;

  @media #{map-get($device, mobile-l)} {
    margin-bottom: 4px;
  }
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $s-20;

  @media #{map-get($device, mobile-l)} {
    justify-content: center;
    gap: $s-12;
  }

  @media #{map-get($device, tablet)} {
    gap: $s-16;
  }
}

.logo {
  max-width: 100px;
  height: auto;

  @media #{map-get($device, mobile-l)} {
    max-width: 80px;
  }

  @media #{map-get($device, tablet)} {
    max-width: 90px;
  }
}