$background-light: #ffffff;
$foreground-dark: #171717;

$font-family-base: "Sen", sans-serif;
$font-family-addition: "Inter", sans-serif;

$black: #232536;
$light: #fff;
$yellow: #ffd050;
$purple: #592ea9;
$dark-gray: #4c4c4c;
$medium-gray: #6d6e76;
$light-gray: #f4f4f4;
$dark-blue: #2e3040;
$lavender: #f4f0f8;
$light-yellow: #fbf6ea;
$dark-yellow: #edc149;

$fade: radial-gradient(
  80.99% 71.93% at 74.58% 0%,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.6) 100%
);

$device: (
  mobile-s: "(max-width: 320px)",
  mobile-m: "(max-width: 375px)",
  mobile-l: "(max-width: 425px)",
  tablet: "(max-width: 768px)",
  laptop: "(max-width: 1024px)",
  desktop: "(max-width: 1025px)",
  large-desktop: "(max-width: 1440px)",
  ultra-desktop: "(min-width: 1920px)",
);
