$background-light: #ffffff;
$foreground-dark: #171717;

$font-family-base: "Sen", sans-serif;
$font-family-addition: "Inter", sans-serif;

$black: #232536;
$light: #fff;
$yellow: #ffd050;
$purple: #592ea9;
$dark-gray: #4c4c4c;
$medium-gray: #6d6e76;
$light-gray: #f4f4f4;
$dark-blue: #2e3040;
$lavender: #f4f0f8;
$light-yellow: #fbf6ea;
$dark-yellow: #edc149;

$fade: radial-gradient(
  80.99% 71.93% at 74.58% 0%,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.6) 100%
);

$device: (
  mobile-s: "(max-width: 320px)",
  mobile-m: "(max-width: 375px)",
  mobile-l: "(max-width: 440px)",
  tablet: "(max-width: 768px)",
  laptop: "(max-width: 1024px)",
  desktop: "(max-width: 1025px)",
  large-desktop: "(max-width: 1440px)",
  ultra-desktop: "(min-width: 1920px)",
);

$s-200: 200px;
$s-192: 192px;
$s-128: 128px;
$s-96: 96px;
$s-80: 80px;
$s-64: 64px;
$s-60: 60px;
$s-48: 48px;
$s-40: 40px;
$s-32: 32px;
$s-34: 34px;
$s-30: 30px;
$s-24: 24px;
$s-20: 20px;
$s-18: 18px;
$s-16: 16px;
$s-12: 12px;
$s-10: 10px;
$s-8: 8px;
$s-5: 5%;





$fs-56: 56px;
$fs-48: 48px;
$fs-40: 40px;
$fs-36: 36px;
$fs-32: 32px;
$fs-28: 28px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-10: 10px;

$lh-64: 64px;
$lh-56: 56px;
$lh-44: 44px;
$lh-48: 48px;
$lh-40: 40px;
$lh-36: 36px;
$lh-32: 32px;
$lh-28: 28px;
$lh-24: 24px;
$lh-20: 20px;
$lh-18: 18px;
$lh-16: 16px;

