@import "./variables";

%heading {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0;
}

%body {
  font-family: $font-family-addition;
  font-style: normal;
}

.Display {
  @extend %heading;
  font-size: 56px;
  line-height: 64px;

  @media #{map-get($device, tablet)} {
    font-size: 48px;
    line-height: 56px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 36px;
    line-height: 44px;
  }
}

.Heading1 {
  @extend %heading;
  font-size: 48px;
  line-height: 64px;

  @media #{map-get($device, tablet)} {
    font-size: 40px;
    line-height: 56px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 32px;
    line-height: 44px;
  }
}

.Heading2 {
  @extend %heading;
  font-size: 36px;
  line-height: 48px;

  @media #{map-get($device, tablet)} {
    font-size: 32px;
    line-height: 44px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 28px;
    line-height: 36px;
  }
}

.Heading3 {
  @extend %heading;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;

  @media #{map-get($device, tablet)} {
    font-size: 24px;
    line-height: 32px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 20px;
    line-height: 28px;
  }
}

.Heading4 {
  @extend %heading;
  font-size: 24px;
  line-height: 32px;

  @media #{map-get($device, tablet)} {
    font-size: 20px;
    line-height: 28px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 18px;
    line-height: 24px;
  }
}

.Heading5 {
  @extend %heading;
  font-size: 20px;
  line-height: 32px;

  @media #{map-get($device, tablet)} {
    font-size: 18px;
    line-height: 28px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 16px;
    line-height: 24px;
  }
}

.Heading6 {
  @extend %heading;
  font-size: 16px;
  line-height: 24px;

  @media #{map-get($device, tablet)} {
    font-size: 14px;
    line-height: 20px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 12px;
    line-height: 18px;
  }
}

.body1 {
  @extend %body;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  @media #{map-get($device, tablet)} {
    font-size: 14px;
    line-height: 24px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 12px;
    line-height: 20px;
  }
}

.body2 {
  @extend %body;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media #{map-get($device, tablet)} {
    font-size: 12px;
    line-height: 18px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 10px;
    line-height: 16px;
  }
}

.label {
  @extend %body;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  @media #{map-get($device, tablet)} {
    font-size: 12px;
    line-height: 18px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 10px;
    line-height: 16px;
  }
}

.cap {
  @extend %body;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;

  @media #{map-get($device, tablet)} {
    font-size: 14px;
    line-height: 18px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 12px;
    line-height: 16px;
  }
}

.cap3 {
  @extend %body;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;

  @media #{map-get($device, tablet)} {
    font-size: 14px;
    line-height: 18px;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: 12px;
    line-height: 16px;
  }
}
