@import "./variables";

%heading {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0;
}

%body {
  font-family: $font-family-addition;
  font-style: normal;
}

.display {
  @extend %heading;
  font-size: $fs-56;
  line-height: $lh-64;

  @media #{map-get($device, tablet)} {
    font-size: $fs-40;
    line-height: $lh-56;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-36;
    line-height: $lh-44;
  }
}

.heading1 {
  @extend %heading;
  font-size: $fs-48;
  line-height: $lh-64;

  @media #{map-get($device, tablet)} {
    font-size: $fs-40;
    line-height: $lh-56;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-32;
    line-height: $lh-44;
  }
}

.heading2 {
  @extend %heading;
  font-size: $fs-36;
  line-height: $lh-48;

  @media #{map-get($device, tablet)} {
    font-size: $fs-32;
    line-height: $lh-44;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-28;
    line-height: $lh-36;
  }
}

.heading3 {
  @extend %heading;
  font-size: $fs-28;
  line-height: $lh-40;
  letter-spacing: -1px;

  @media #{map-get($device, tablet)} {
    font-size: $fs-24;
    line-height: $lh-32;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-20;
    line-height: $lh-28;
  }
}

.heading4 {
  @extend %heading;
  font-size: $fs-24;
  line-height: $lh-32;

  @media #{map-get($device, tablet)} {
    font-size: $fs-20;
    line-height: $lh-28;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-18;
    line-height: $lh-24;
  }
}

.heading5 {
  @extend %heading;
  font-size: $fs-20;
  line-height: $lh-32;

  @media #{map-get($device, tablet)} {
    font-size: $fs-18;
    line-height: $lh-28;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-16;
    line-height: $lh-24;
  }
}

.heading6 {
  @extend %heading;
  font-size: $fs-16;
  line-height: $lh-24;

  @media #{map-get($device, tablet)} {
    font-size: $fs-14;
    line-height: $lh-20;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-12;
    line-height: $lh-18;
  }
}

.body1 {
  @extend %body;
  font-size: $fs-16;
  font-weight: 400;
  line-height: $lh-28;

  @media #{map-get($device, tablet)} {
    font-size: $fs-14;
    line-height: $lh-24;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-12;
    line-height: $lh-20;
  }
}

.body2 {
  @extend %body;
  font-size: $fs-14;
  font-weight: 400;
  line-height: $lh-20;

  @media #{map-get($device, tablet)} {
    font-size: $fs-12;
    line-height: $lh-18;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-10;
    line-height: $lh-16;
  }
}

.label {
  @extend %body;
  font-size: $fs-14;
  font-weight: 500;
  line-height: $lh-20;

  @media #{map-get($device, tablet)} {
    font-size: $fs-12;
    line-height: $lh-18;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-10;
    line-height: $lh-16;
  }
}

.cap {
  @extend %body;
  font-size: $fs-16;
  font-weight: 600;
  line-height: $lh-20;
  letter-spacing: 3px;
  text-transform: uppercase;

  @media #{map-get($device, tablet)} {
    font-size: $fs-14;
    line-height: $lh-18;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-12;
    line-height: $lh-16;
  }
}

.cap3 {
  @extend %body;
  font-size: $fs-16;
  font-weight: 500;
  line-height: $lh-20;
  letter-spacing: 3px;
  text-transform: uppercase;

  @media #{map-get($device, tablet)} {
    font-size: $fs-14;
    line-height: $lh-18;
  }

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-12;
    line-height: $lh-16;
  }
}