@import "@/styles/variables";



.container {
  background-color: $lavender;
  padding: $s-80;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $s-200;

  @media #{map-get($device, laptop)} {
    padding: $s-30;
    grid-column-gap: $s-80;
  }

  @media #{map-get($device, mobile-l)} {
    grid-template-columns: 1fr;
    gap: $s-10;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{map-get($device, mobile-l)} {
      gap: $s-10;
    }

    .author {
      color: $purple;
    }

    .title {
      padding: $s-8 0;
    }

    .metaInfo {
      color: $dark-gray;
    }

    .button {
      max-width: 260px;
    }
  }

  .imageContainer {
    position: relative;
    height: 360px;

    @media #{map-get($device, mobile-l)} {
      display: none;
    }

    .image {
      object-fit: cover;
      object-position: center;
    }
  }
}


