@import "@/styles/variables";

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 148px;
  margin: 0 $s-80;

  @media #{map-get($device, large-desktop)} {
    flex-direction: column-reverse;
    align-items: center;
    gap: $s-60;
    margin: 0 $s-20;
  }

  @media #{map-get($device, mobile-l)} {
    gap: $s-40;
    margin: 0 $s-16;
  }

  @media #{map-get($device, mobile-s)} {
    margin: 0 $s-8;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;

  @media #{map-get($device, large-desktop)} {
    align-items: center;
  }
}

.filterPanel {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: $s-60;

  @media #{map-get($device, large-desktop)} {
    width: 100%;
    gap: $s-40;
  }
}

.searchContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.search {
  color: $black;
}

.categoryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: $s-40;
}

.categoryList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: $s-24;

  @media #{map-get($device, large-desktop)} {
    align-items: center;
  }
}

.loaderContainer {
  width: 100%;
  height: $s-200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $s-10;
}

.tagItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $s-10 $s-20;
  border: 2px solid $medium-gray;
  border-radius: 25px;
  background-color: inherit;
  opacity: 0.7;
  cursor: pointer;
  flex-grow: 1;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $light-gray;
  }

  @media #{map-get($device, large-desktop)} {
    padding: 8px 16px;
  }

  @media #{map-get($device, mobile-l)} {
    padding: 6px 12px;
  }
}

.selectedTag {
  background-color: $yellow;
  border-color: $yellow;
  opacity: 1;

  &:hover {
    background-color: $dark-yellow;
    border-color: $dark-yellow;
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $s-40 $s-20;
  height: 100%;
  opacity: 0;
  animation: fadeIn 0.5s forwards;

  @media #{map-get($device, mobile-l)} {
    padding: $s-20 $s-10;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}