@import "@/styles/variables";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $lavender;
  gap: $s-32;
  padding: $s-128 $s-20;

  @media #{map-get($device, laptop)} {
    padding: $s-96 $s-10;
    gap: $s-24;
  }

  @media #{map-get($device, tablet)} {
    flex-direction: column;
    align-items: center;
    padding: $s-64 $s-8;
    gap: $s-24;
  }

  @media #{map-get($device, mobile-l)} {
    padding: $s-48 $s-5;
    gap: $s-16;
  }
}

.avatarWrapper {
  position: relative;
  min-width: 260px;
  height: 300px;

  @media #{map-get($device, tablet)} {
    min-width: 200px;
    height: 240px;
  }

  @media #{map-get($device, mobile-l)} {
    min-width: 160px;
    height: 200px;
  }

  @media #{map-get($device, mobile-s)} {
    min-width: 140px;
    height: 180px;
  }
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: $s-24;

  @media #{map-get($device, tablet)} {
    align-items: center;
    text-align: center;
  }

  @media #{map-get($device, mobile-l)} {
    gap: $s-16;
  }
}

.description {
  color: $medium-gray;
}

.socials {
  display: flex;
  gap: $s-16;

  @media #{map-get($device, tablet)} {
    justify-content: center;
  }

  @media #{map-get($device, mobile-l)} {
    gap: $s-12;
  }
}

.topBar {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 60%;
  height: 23px;

  @media #{map-get($device, tablet)} {
    width: 80%;
  }

  @media #{map-get($device, mobile-l)} {
    width: 90%;
  }

  @media #{map-get($device, mobile-s)} {
    width: 95%;
  }
}

.yellowBar {
  background-color: $yellow;
  width: 70%;

  @media #{map-get($device, mobile-l)} {
    width: 65%;
  }
}

.purpleBar {
  background-color: $purple;
  width: 30%;

  @media #{map-get($device, mobile-l)} {
    width: 35%;
  }
}