@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 $s-24;
  gap: $s-16;

  @media #{map-get($device, tablet)} {
    margin: 0 $s-16;
  }

  @media #{map-get($device, mobile-l)} {
    margin: 0 $s-10;
    gap: 12px;
  }

  @media #{map-get($device, mobile-s)} {
    margin: 0 $s-5;
    gap: $s-10;
  }
}

.inputContainer {
  width: 100%;
}

.input {
  color: $black;

  @media #{map-get($device, mobile-l)} {
    font-size: 14px;
  }

  @media #{map-get($device, mobile-s)} {
    font-size: 12px;
  }
}

.error {
  color: red;
  font-size: 12px;

  @media #{map-get($device, mobile-l)} {
    font-size: 10px;
  }

  @media #{map-get($device, mobile-s)} {
    font-size: 9px;
  }
}