@import "@/styles/variables";

.footer {
  background-color: $black;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  gap: $s-30;

  @media #{map-get($device, laptop)} {
    padding: $s-40 $s-60;
  }

  @media #{map-get($device, tablet)} {
    padding: $s-32 $s-40;
  }

  @media #{map-get($device, mobile-l)} {
    padding: $s-24 $s-20;
  }

  @media #{map-get($device, mobile-s)} {
    padding: $s-16 $s-10;
  }
}

.title {
  color: $light;
}

.topSection {
  display: flex;
  justify-content: space-between;


  .navbar {
    display: flex;
    align-items: center;
    gap: $s-24;
  }

  @media #{map-get($device, laptop)} {
    display: none;
  }
}

.middleSection {
  background-color: $dark-blue;
  padding: $s-80 $s-60;
  display: grid;
  grid-template-columns: 1fr 1fr;


  @media #{map-get($device, laptop)} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $s-40 $s-20;
    gap: $s-32;
  }

  @media #{map-get($device, mobile-l)} {
    padding: $s-30 $s-10;
    gap: $s-16;
  }

  .inputContainer{
    display: flex;
    gap: $s-20;
    align-items: center;

    @media #{map-get($device, laptop)} {
      gap: $s-34;
    }

    @media #{map-get($device, mobile-l)} {
      flex-direction: column;
      gap: $s-12;
    }
  }

  .title {
    width: 564px;
    text-align: left;

    @media #{map-get($device, tablet)} {
      width: 100%;
      text-align: center;
    }

    @media #{map-get($device, mobile-l)} {
      font-size: $fs-24;
    }
  }

}

.bottomContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .textGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .text {
    color: $medium-gray;
  }

  .socialNetworkContainer {
    display: flex;
    gap: $s-24;
  }
}

.error {
  color: red;
  font-size: $fs-12;
  position: absolute;
  margin-top: 100px;

  @media #{map-get($device, mobile-l)} {
    font-size: $fs-10;
    position: relative;
    margin-top: 0;
  }

  @media #{map-get($device, mobile-s)} {
    font-size: 9px;
  }
}