@import "@/styles/variables";

.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 80px;
  position: relative;

  @media #{map-get($device, laptop)} {
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
  }

  @media #{map-get($device, mobile-l)} {
    margin: 0 16px;
  }
}

.imageWrapper {
  width: 70%;
  height: 800px;
  position: relative;

  @media #{map-get($device, laptop)} {
    width: 100%;
    height: 400px;
  }

  @media #{map-get($device, mobile-l)} {
    height: 300px;
  }

  @media #{map-get($device, mobile-s)} {
    height: 200px;
  }
}

.image {
  object-fit: cover;
  object-position: center;
}

.content {
  position: absolute;
  right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  background-color: white;
  padding: 80px;
  max-width: 45%;

  @media #{map-get($device, laptop)} {
    position: relative;
    right: 0;
    bottom: 160px;
    max-width: 80%;
    padding: 40px;
  }

  @media #{map-get($device, mobile-l)} {
    bottom: 60px;
    padding: 24px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;

  @media #{map-get($device, laptop)} {
    gap: 12px;
  }

  @media #{map-get($device, mobile-l)} {
    gap: 8px;
  }
}

.description {
  color: $medium-gray;
}
