@import "@/styles/variables";

.container{
  display: flex;
  flex-direction: column;
  gap: $s-20;
  margin: $s-80 0;

}

.pagination{
  display: flex;
  justify-content: center;
  gap: $s-20;
}

.loaderContainer{
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}